extends layout

block content
  h1= title

  - let animal_species = toShow.species
  - let animal_habitat = toShow.habitat
  - let animal_lifespan = toShow.lifespan
  - let actionid = "/resource/animal/" + animal_species

  form(id='AnimalForm', action= actionid, method="PUT")
    div.form-group
      label.animalAttr(for='species') Animal Species
      input#species(type='text', name='species', value= animal_species )
    div.form-group
      label.animalAttr(for='habitat') Animal Habitat
      input#habitat(type='text', name='habitat', value= animal_habitat )
    div.form-group
      label.animalAttr(for='lifespan') Animal Lifespan
      input#lifespan(type='number', name='lifespan', value= animal_lifespan )
    input(type="submit")

  script.
    document.forms['AnimalForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        return resp.json();
      }).then((body) => {
        alert("Update succeded")
      }).catch((error) => {
        alert("Update failed " + error )
      });
    });

