extends layout

block content
  h1 Animal List
  ul 
    each animal in results 
      li 
        h2= animal.species
        p Habitat:  #{animal.habitat}
        p Lifespan:  #{animal.lifespan}

          